services:

  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    ports:
      - 8000:8000
      - 9443:9443
    restart: unless-stopped
    volumes:
      - "${BASE_PATH}/config/portainer:/data"
      - "/var/run/docker.sock:/var/run/docker.sock"
    networks:
      - homelab

  beszel:
    image: henrygd/beszel:latest
    container_name: beszel
    restart: unless-stopped
    networks:
      - homelab
    extra_hosts:
      - "host.docker.internal:host-gateway"
    ports:
      - 8090:8090
    volumes:
      - "${BASE_PATH}/config/beszel_data:/beszel_data"
  
  beszel-agent:
    image: henrygd/beszel-agent:latest
    container_name: beszel-agent
    restart: unless-stopped
    # network_mode: host
    networks:
      - homelab
    ports:
      - 45876:45876
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /data/.beszel:/extra-filesystems/data:ro
    environment:
      PORT: 45876
      FILESYSTEM: /dev/sda1
      # Do not remove quotes around the key
      KEY: "${PUBLIC_KEY}"
  
  autoheal:
    container_name: autoheal
    image: willfarrell/autoheal
    environment:
      - AUTOHEAL_CONTAINER_LABEL=autoheal
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    restart: always
    networks:
      - homelab
