services:
  wireguard:
    image: linuxserver/wireguard:version-v1.0.20210914
    container_name: wireguard
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun
    environment:
      PUID: 1000
      PGID: 1000
      TZ: Etc/UTC
      # TRANSMISSION_DOWNLOAD_DIR: /transcend/torrents # All the media containers use transcend internally because that's what i set originally. It's too much work to change it now.
    sysctls:
      - "net.ipv6.conf.all.disable_ipv6=0"  # This bypasses Docker weirdness with ipv6
      - "net.ipv4.conf.all.src_valid_mark=1"
    ports:  # map all svc you wanna route through VPN
      - 51820:51820/udp
      - 54914:54914
      - 9091:9091 # Transmission Web UI
      - 8191:8191 # Flaresolverr
      - 9696:9696 # Prowlarr
      - 8989:8989 # Sonarr
      - 7878:7878 # Radarr
      - 6767:6767 # Bazarr
      - 8787:8787 # Readarr
    volumes:
      - /lib/modules:/lib/modules
      - ${BASE_PATH}/config/wireguard/se-got-wg-001.conf:/config/wg_confs/wg0.conf
    # healthcheck:
    #   test: ["CMD-SHELL", "wg show | grep -q handshake"]
    #   interval: 30s
    #   timeout: 10s
    #   retries: 5
    #   start_period: 10s
    restart: unless-stopped
    networks:
      - homelab
    labels:
      autoheal: true

