services:

  stirling-pdf:
    container_name: stirling-pdf
    image: frooodle/s-pdf:latest
    ports:
      - 8080:8080
    volumes:
      - ${BASE_PATH}/config/stirlingpdf/trainingData:/usr/share/tessdata #Required for extra OCR languages
      - ${BASE_PATH}/config/stirlingpdf/extraConfigs:/configs
#      - ${BASE_PATH}/config/stirlingpdf/customFiles:/customFiles/
#      - ${BASE_PATH}/config/stirlingpdf/logs:/logs/
    environment:
      DOCKER_ENABLE_SECURITY: false
      INSTALL_BOOK_AND_ADVANCED_HTML_OPS: false
      LANGS: en_GB
    restart: unless-stopped
    networks:
      - homelab

  nextcloud:
    image: lscr.io/linuxserver/nextcloud:latest
    container_name: nextcloud
    environment:
      PUID: 1000
      PGID: 1000
      TZ: Etc/UTC
    volumes:
      - ${BASE_PATH}/config/nextcloud/config:/config
      - /data:/data
    ports:
      - 8443:443
    restart: unless-stopped
    networks:
      - homelab

  mealie:
    image: ghcr.io/mealie-recipes/mealie:latest
    container_name: mealie
    environment:
      # Set Backend ENV Variables Here
      ALLOW_SIGNUP: "false"
      PUID: 1000
      PGID: 1000
      TZ: Etc/UTC
      BASE_URL: http://192.168.1.180:9925
    deploy:
      resources:
        limits:
          memory: 1000M
    volumes:
      - /data/mealie/data:/app/data/
    ports:
        - 9925:9000
    restart: unless-stopped
    networks:
      - homelab
