---
# For configuration options and examples, please see:
# https://gethomepage.dev/latest/configs/services

- Media Server:
    - Jellyseerr:
        icon: jellyseerr.png
        description: "Media search"
        href: http://{{HOMEPAGE_VAR_HOST_IP}}:5055
        server: dockerproxy
        container: jellyseerr
        widget:
          type: jellyseerr
          url: http://jellyseerr:5055
          key: {{HOMEPAGE_VAR_JELLYSEERR_API_KEY}}
    - Jellyfin:
        icon: jellyfin.png
        description: "Media server"
        href: http://{{HOMEPAGE_VAR_HOST_IP}}:8096/
        server: dockerproxy
        container: jellyfin
        widget:
          type: jellyfin
          url: http://jellyfin:8096
          key: {{HOMEPAGE_VAR_JELLYFIN_API_KEY}}
          enableBlocks: true # optional, defaults to false
          enableNowPlaying: true # optional, defaults to true
          # enableUser: true # optional, defaults to false
          showEpisodeNumber: true # optional, defaults to false
          expandOneStreamToTwoRows: false # optional, defaults to true
    - Audiobookshelf:
        icon: audiobookshelf.png
        description: "Audiobooks library"
        href: http://{{HOMEPAGE_VAR_HOST_IP}}:13378
        server: dockerproxy
        container: audiobookshelf
        widget:
          type: audiobookshelf
          url: http://audiobookshelf
          key: {{HOMEPAGE_VAR_AUDIOBOOKSHELF_API_KEY}}
    - Calibre:
        icon: calibre.png
        description: "ebooks library"
        href: http://{{HOMEPAGE_VAR_HOST_IP}}:8083
        server: dockerproxy
        container: calibre-web
        widget:
          type: calibreweb
          url: http://calibre-web:8083
          username: {{HOMEPAGE_VAR_CALIBRE_USERNAME}}
          password: {{HOMEPAGE_VAR_CALIBRE_PASSWORD}}

- Servarr:
    - Transmission:
        icon: transmission.png
        description: "Torrent Download Client"
        href: http://{{HOMEPAGE_VAR_HOST_IP}}:9091
        server: dockerproxy
        container: transmission
        widget:
          type: transmission
          url: http://wireguard:9091
          username: ""
          password: ""
          rpcUrl: "/transmission/"
    - Sonarr:
        icon: sonarr.png
        description: "TV Shows Management"
        href: http://{{HOMEPAGE_VAR_HOST_IP}}:8989
        server: dockerproxy
        container: sonarr
        widget:
          type: sonarr
          url: http://wireguard:8989
          key: {{HOMEPAGE_VAR_SONARR_API_KEY}}
    - Radarr:
        icon: radarr.png
        description: "Movies Management"
        href: http://{{HOMEPAGE_VAR_HOST_IP}}:7878
        server: dockerproxy
        container: radarr
        widget:
          type: radarr
          url: http://wireguard:7878
          key: {{HOMEPAGE_VAR_RADARR_API_KEY}}
    - Readarr Audiobooks:
        icon: readarr.png
        description: "Audiobook Management"
        href: http://{{HOMEPAGE_VAR_HOST_IP}}:8787
        server: dockerproxy
        container: readarr-audiobooks
        widget:
          type: readarr
          url: http://wireguard:8787
          key: {{HOMEPAGE_VAR_READARR_API_KEY}}
    - Readarr ebooks:
        icon: readarr.png
        description: "ebook Management"
        href: http://{{HOMEPAGE_VAR_HOST_IP}}:8788
        server: dockerproxy
        container: readarr-ebooks
        widget:
          type: readarr
          url: http://readarr-ebooks:8787
          key: {{HOMEPAGE_VAR_READARR_API_KEY}}
    # - Bazarr:
    #     icon: bazarr.png
    #     description: "Subtitles Management"
    #     href: http://{{HOMEPAGE_VAR_HOST_IP}}:6767
    #     server: dockerproxy
    #     container: bazarr
    #     widget:
    #       type: bazarr
    #       url: http://wireguard:6767
    #       key: {{HOMEPAGE_VAR_BAZARR_API_KEY}}
    - Prowlarr:
        icon: prowlarr.png
        description: "Torrent Indexer Service"
        href: http://{{HOMEPAGE_VAR_HOST_IP}}:9696
        server: dockerproxy
        container: prowlarr
        widget:
          type: prowlarr
          url: http://wireguard:9696
          key: {{HOMEPAGE_VAR_PROWLARR_API_KEY}}

- Tools:
    - Stirling PDF:
        icon: stirling-pdf.png
        description: "PDF Tools"
        href: http://{{HOMEPAGE_VAR_HOST_IP}}:8080
        server: dockerproxy
        container: stirling-pdf
    # - Nextcloud:
    #     icon: nextcloud.png
    #     description: "File Sync and Share"
    #     href: https://{{HOMEPAGE_VAR_HOST_IP}}:8443
    #     server: dockerproxy
    #     container: nextcloud
    - Jellystat:
        icon: jellystat.png
        description: "Jellyfin Statistics"
        href: http://{{HOMEPAGE_VAR_HOST_IP}}:3000
        server: dockerproxy
        container: jellystat
    - Beszel:
        icon: beszel.png
        description: "Container Monitoring"
        href: http://{{HOMEPAGE_VAR_HOST_IP}}:8090/system/Asus
        server: dockerproxy
        container: beszel
        # widget:
        #   type: beszel
        #   url: http://beszel:8090
        #   username: {{HOMEPAGE_VAR_BESZEL_USERNAME}} # email
        #   password: {{HOMEPAGE_VAR_BESZEL_PASSWORD}}
        #   systemId: Asus
        #   version: 2 # optional, default is 1
    - Pihole:
        icon: pi-hole.png
        description: "Network-wide Ad Blocking"
        href: http://192.168.0.150:80/admin
        widget:
          type: pihole
          url: http://192.168.0.150:80
          version: 6
          key: {{HOMEPAGE_VAR_PIHOLE_PASSWORD}}
    - Portainer:
        icon: portainer.png
        description: "Docker Management UI"
        href: https://{{HOMEPAGE_VAR_HOST_IP}}:9443
        server: dockerproxy
        container: portainer
        widget:
          type: portainer
          url: https://portainer:9443
          env: 2
          key: {{HOMEPAGE_VAR_PORTAINER_API_KEY}}
    - Nginx Proxy Manager:
        icon: nginx-proxy-manager.png
        description: "Reverse Proxy"
        href: http://{{HOMEPAGE_VAR_HOST_IP}}:81
        server: dockerproxy
        container: nginx-proxy-manager
        widget:
          type: npm
          url: http://ts-npm:81
          username: {{HOMEPAGE_VAR_NPM_USERNAME}}
          password: {{HOMEPAGE_VAR_NPM_PASSWORD}}
    #
    # - Gitlab:
    #     icon: gitlab.png
    #     description: "Self-hosted Gitlab"
    #     href: http://{{HOMEPAGE_VAR_HOST_IP}}:8929
    #     server: dockerproxy
    #     container: gitlab
    # - Gitlab Runner:
    #     description: "Self-hosted Gitlab CI/CD Runner"
    #     icon: gitlab.png
    #     server: dockerproxy
    #     container: gitlab-runner
